---
import Layout from "../layouts/Layout.astro";
import PageProvider from "@/components/providers/PageProvider";
import SobreInfo from "../components/SobreInfo.astro";
import { CercadForm } from "../components/CercadForm";
import CercadHeader from '../components/ui/CercadHeader.astro';
---

<Layout title="CERCAD - Nova Petição">
    <PageProvider>
        <CercadHeader />

        <h1 class="my-12 text-center text-4xl font-thin">
            Bem Vindo(a) ao Portal CERCAD
        </h1>

        <CercadForm client:load />

        <SobreInfo isPage={false} />
    </PageProvider>
</Layout>
